body{
    background-image: url('../images/mock-up.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    height: 5227px;
    
}

.container{
    width: 1106px;
    margin: auto;
}

header{
    height: 62px;
    background-color: white;

}

.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.header-wrapper .logo h1{
    font-size: 33px;
    color: #565b5d;
    margin: auto;
    padding: 11px 0px;
}
.navi{
    display: flex;
    list-style: none;
}
}

.navi li{

}

.navi li a{
    display: inline-block;
    margin: 0px 8px;
    color: #4d5458;
    text-decoration: none;
}

.navi li i{
    
    cursor: pointer;

}

#hero{
    height: 584px;
    background-image: url('../images/hero-bg.png');
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
    
}

.hero-wrapper .hero-text{

    flex-basis: 48%;
    padding-top: 70px;    
}

.hero-wrapper .hero-text h1{
   
    font-size: 52px;
    line-height: 1.12;
    color: #374045;
}

.hero-wrapper .hero-text p{

    font-size: 28.5px;
    margin-top: -17px;
    margin-bottom: 25px;
    color: #374045;
    
}

.link a{
    font-size: 20px;
    color: white;
    padding: 13px 31px;
    text-decoration: none;
    display: inline-block;
    background-color: #009ce9;
    border-radius: 17px;
}


.hero-wrapper .hero-image {
    flex-basis: 48%;
}

.hero-image img {

    display: block;
    max-width: 373px;
    margin: auto;
    padding: 60px 0px 0 0px;
}


#about{
    height: 445px;
}

.about-wrapper{
      display: flex;
      justify-content: space-between;
      padding: 36px;
      
      
}

.about-wrapper .about-image{

    flex-basis: 48%;
}

.about-image img{

    max-width: 100%;
    padding-top: 33px;
}

.about-wrapper .about-text{

    flex-basis: 48%;
    

}

.about-wrapper .about-text h2{
    
    font-size: 39px;
    margin-top: 22px;
    color: #354346;
    font-weight: 500;

}

.about-wrapper .about-text p{
    
    margin-top: -23px;
    color: #575757;

}

.about-text ul{
      
    font-size: 18px;
    list-style: none;
    margin-left: -39px;
    line-height: 1.1;
}

.about-text ul li{

    margin-bottom: 13px;
}

.about-text ul li i{
    color: lightgreen;
}

.para1 p{
    font-size: 18px;
    padding: 30px 12px;
    
    color: #575757;
}


#features{
    height: 595px;
}

.feature-wrapper{

    display: flex;
    justify-content: space-between;
    
}
 
.feature-wrapper .feature-lists{
    
    padding-top: 68px;
    
    
}

.feature-wrapper .feature-image{
    
    padding-top: 64px;
    text-align: right;
    
}
.feature-image img{
    max-width: 476px;
    display: inline-block
}
.feature-list {
    padding: 1px;
    padding-left: 18px;
    border: solid 5px transparent
}


.feature-list.active{
    
        border-left: solid 5px #009ce9;
        color: #fbfbfb
}

.feature-list h3{
    font-size: 18px;
    font-weight: 600;
    color: #638398;
}



.feature-list p{
    
    margin-bottom: 16px;
    color: #66757b;
}








#services{
    
    height: 536px;
}
    





.section-header{
    padding-top: 18px;
    
}

.section-header h2{
    font-size: 40px;
    text-align: center;
    color: #637780;
    font-weight: 500;
}

.section-header p{
    font-size: 19px;
    text-align: center;
    color: #596777;
}

.section-body{
    

}
.card-type-1-wrapper{
    display: flex;
}


.card-type-1-wrapper .card-type-1{

    flex-basis: 25%;
    margin: 0px 30px;
    background-color: #fff;
        
}

.card-type-1 .icon-wrapper{
        
        text-align: center;
        margin-top: 38px;
    }
.card-type-1 h3{

    text-align: center;
    font-size: 25px
    color: #1a1a2b;
}

.card-type-1 p{
    text-align: center;
    font-size: 18px;
    color: #656e71;

}


.card-type-1 .icon-wrapper i{
    font-size: 36px;
}

.card-type-1 .icon-wrapper.color-1 {
 color: violet;
}

.card-type-1 .icon-wrapper.color-2 {
 color: red;
}

.card-type-1 .icon-wrapper.color-3 {
color: green;
}

.card-type-1 .icon-wrapper.color-4 i{
color: blue;
}


#portfolio{
    
}

.section-header{
    
}

.section-body{

}

.card-type-2-wrapper{
    display: flex;
    flex-wrap: wrap;
    
    
}

.card-type-2-wrapper .card-type-2{
    flex-basis: 31.3%;
    margin: 11px 11px;
    
}

.card-type-2 img{
       max-width: 100%;
}