body{
    background-image: url('../images/mock-up.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    height: 5227px;
}   
.container{
    width: 1106px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.primary-button{
    display: inline-block;
    text-decoration: none;
    color: #e2f4fc;
    margin-top: 19px;
    padding: 20px;
    font-size: 17px;
    background-color: #009ce8;
    border-radius: 17px;
    width: 111px;
    text-align: center;
}
header{
    height: 62px;
    background-color: white;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-wrapper .logo h1{
    font-size: 31px;
    color: #6c7b82;
    padding-top: 22px;
}
.navi{
    display: flex;
    list-style: none;
}
.navi li{
    list-style: none;
}
.navi li a,
.navi li i{
    margin-right: 14px;
    display: inline-block;
    padding-top: 28px;
    text-decoration: none;
    color: #8396a1;
} 
.navi-active  li a{
    color: #2cadee;
}

#hero{
    height: 584px;
    background-image: url('../images/hero-bg.png');
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
}
.hero-wrapper{
    display: flex;
    justify-content: space-between;
}
.hero-wrapper .hero-text{
    flex-basis: 48%;
}
.hero-wrapper .hero-text h1{
    font-size: 52px;
    font-weight: 600;
    padding-top: 131px;
}
.hero-wrapper .hero-text p{
    font-size: 26px;
    color: #627078;
    margin-top: 32px;
}
.hero-wrapper .hero-image {
    flex-basis: 48%;
}
.hero-image img {
    display: block;
    margin: auto;
    max-width: 69%;
    padding-top: 73px;
}

#about{
    height: 453px;
}
.about-wrapper{
  display: flex;
  justify-content: space-between;
  
}
.about-wrapper .about-image{
   flex-basis: 48%;
}
.about-image img{
    max-width: 95%;
    margin-left: 33px;
    padding-top: 69px;
}
.about-wrapper .about-text{
    flex-basis: 48.5%;
}
.about-wrapper .about-text h2{
    font-size: 35px;
    margin-top: 71px;
    font-weight: 500;
    color: #484d4d;
}
.about-wrapper .about-text p{
    font-size: 20px;
    padding-top: 10px;
    color: #60738c;
}
.about-text ul{
    list-style: none;
    font-size: 17px;
    line-height: 1.3;
    padding-top: 28px;
}
.about-text ul li{
   padding-bottom: 13px;
   color: #797fa7;
}
.about-text ul li i{
   color: lightgreen;
}
.para1 p{
    margin-top: 5px;
    color: #60738c;
}

#features{
    height: 595px;
}
.feature-wrapper{
    display: flex;
    justify-content: space-between;
}
.feature-wrapper .feature-lists{
    padding-top: 71px;
}
.feature-wrapper .feature-image{
    padding-top: 47px;
    text-align: right;
}
.feature-image img{
    max-width: 490px;
    display: inline-block
}
}
.feature-list {
    border: solid 5px transparent
}
.feature-list.active{ 
    border-left: solid 5px #009ce9;
    color: #5e6f76;
    background-color: #fbfbfb;
}
.feature-list h3{
    font-size: 20px;
    padding-bottom: 7px;
    color: #667378;
    padding-left: 9px;
}
.feature-list p{
    font-size: 17px;
    color: #627076;
    margin-bottom: 45px;
    padding-left: 9px;
    
}


#services{
    height: 536px;
    background-color: #f7f8fa;
}
.section-header{
    padding-top: 18px;
}
.section-header h2{
    font-size: 36px;
    text-align: center;
    color: #637780;
    font-weight: 500;
    padding-bottom: 32px;
    padding-top: 36px;
}
.section-header p{
    font-size: 17px;
    text-align: center;
    color: #596777;
    margin-bottom: 22px
}
.section-body{
}
.card-type-1-wrapper{
    display: flex;
}
.card-type-1-wrapper .card-type-1{
    flex-basis: 25%;
    margin: 0px 30px;
    background-color: #fff;
}
.card-type-1 .icon-wrapper{
    text-align: center;
    margin-top: 38px;
    margin-bottom: 25px;
}
.card-type-1 h3{
    text-align: center;
    font-size: 25px;
    color: #1a1a2b;
    margin-bottom: 30px;
}
.card-type-1 p{
    text-align: center;
    font-size: 18px;
    color: #656e71;
    margin-bottom: 50px;
}
.card-type-1 .icon-wrapper i{
    font-size: 36px;
}
.card-type-1 .icon-wrapper.color-1 {
 color: violet;
}
.card-type-1 .icon-wrapper.color-2 {
 color: red;
}
.card-type-1 .icon-wrapper.color-3 {
color: green;
}
.card-type-1 .icon-wrapper.color-4 i{
color: blue;
}


#portfolio{
    height: 1129px;
}
.section-header{
}
.section-body{
    
}
.card-type-2-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card-type-2-wrapper .card-type-2{
    flex-basis: 31.3%;
    margin: 11px 11px;
}
.card-type-2 img{
     max-width: 100%;
     padding-top: 10px;
}


#c2a{
    background-image: url('../images/cta-bg.jpg');
    background-attachment: fixed;
}
.c2a-overlay{
    background-color: rgba(255, 255, 255, 0.7);
}
.c2a-wrapper{
 display: flex;
 justify-content: space-between;
 height: 262px;
 align-items: center;
}
.c2a-wrapper .c2a-text{
 flex-basis: 70%
}
.c2a-text h2{
    font-size: 30px;
    line-height: 2;
}
.c2a-text p{
    font-size: 21px;
}
.c2a-wrapper .c2a-link{
 flex-basis: 20%
}


#team{
     background-image: url('../images/team-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
     height: 690px;
}
 .team-overlay{
    background-color: rgba(255, 255, 255, 0.7);
    height: 690px;
}
 .card-type-3-wrapper{
    display: flex;
    justify-content: space-between;
}
 .card-type-3-wrapper .card-type-3{
   flex-basis: 32%;
 }
 .card-type-3 img{
  max-width: 100%;
 }
 .card-type-3 .card-content{
   background-color: white;
   padding: 22px;
   margin: 0px 15px 0px;
   position: relative;
   top: -54px;

}
 .card-type-3 .card-content h3{
   text-align: center;
   padding-bottom: 15px;
   position: relative;
}
.card-type-3 .card-content h3:after{
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: #ccc;
    margin: auto;
    position: relative;
    top: 6px;
}
 .card-type-3 .card-content p{
  text-align: center;
}

#contact{
    height: 806px;
}
.contact-wrapper{
   display: flex;
   justify-content: space-between;
   padding-top: 28px
}
.contact-wrapper .contact-info,
.contact-wrapper .contact-form{
   
    flex-basis: 40%;
    box-sizing: border-box;
    padding: 15px;
    border: solid 3px #f3f4f4;
    background-color: #fff;
}
.contact-wrapper .contact-form{
  flex-basis: 57%;
}

.connect-details{
    list-style: none;
}
.connect-details li{
    display: flex;
}
.connect-details li .icon{
    flex-basis: 57px;
    height: 57px;
    background: #f3f4f4;
    border-radius: 50%;
    color: #559de9;
    margin-bottom: 20px;
    text-align: center;
}
.connect-details li .icon i{
    display: inline-block;
    margin-top: 18px;
}
.connect-details li .detail{
    
}
.connect-details li .detail h2{
    margin-left: 14px;
    font-size: 22px;
    padding-top: 14px;
    color: #637291;
}
.connect-details li .detail p{
    margin-left: 14px;
    color: #a2a092;
    line-height: 1.9;
}
.contact-map{

}
.contact-form{
    
}
.form-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}
.form-set{
    display: grid;
}
.name{
    flex-basis: 43%;
}
.name label{
    margin-bottom: 10px;
    font-size: 17px;
    color: #9e9b94;
}
.name input[type='text']{
    height: 38px;
}
.Email{
    flex-basis: 48%;
}
.Email label{
    font-size: 18px;
    margin-bottom: 6px;
    color: #9e9b94;
}
.Email input[type='email']{
    height: 37px;
}
.subject{
    flex-basis: 96%;
}
.subject label{
    margin-top: 29px;
    font-size: 18px;
    color: #9e9b94;
}
.subject input[type='subject']{
    margin-top: 11px;
    height: 38px;
}
.message{
    flex-basis: 96%;
    padding-top: 29px;
}
.message label{
    color: #9e9b94;
}
.message textarea{
    height: 236px;
    margin-top: 10px;
}
.submit{

}
.submit label{
   padding-top: 13px;
}
.submit input[type='submit']{
    font-size: 18px;
    padding: 18px;
    background-color: lightskyblue;
}

footer{
    height: 110px;
    text-align: center;
    font-size: 14.5px;
    padding-top: 19px;
    color: #707c85;
    background-color: #f7f8fa;

}

